<div class="text-center _myCenter">
    <h1 class="text-white mb-4 _myHeading mb-sm-2 mb-md-0">Nie znaleziono trasy</h1>
    <h2 class="_myHeading"><a class="text-white _myHeading__link" asp-controller="Home" asp-action="Index">Spróbuj ponownie</a></h2>
</div>