<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - safe_routes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontello/css/fontello.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="min-vh-100 d-flex flex-wrap position-relative">

    <div class="_myPreloader">
        <div class="_myPreloader__border-out">
            <span class="icon-flight"></span>
        </div>
    </div>

    <div class="container">
        <main role="main" class="h-100">
            @RenderBody()
        </main>
    </div>

    <footer class="footer _myFooter w-100 align-self-end text-lg-center">
        <div class="container d-flex justify-content-center">
            <p><span class="icon-flight"></span>&copy; 2021 </p> 
            <a asp-controller="Home" asp-action="NoRoute">Not found view</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
